*{
    transition: all ease-in-out 0.2s;
}
.section1Container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sec1Info{
    margin-top: 17rem;
    margin-left: 4rem;
    grid-column: 1/2;
    margin-right: 7rem;
}
.sec1Info h1{
    font-family: Archivo;
    font-size: 2.3rem;
}
.sec1Info h2{
    font-family: Archivo;
    font-size: 4rem;
    line-height: 4rem;

    color: #39AEA8;
}
.sec1Info p{
    width: 85%;
    margin-top: 2rem;
    font-family: Archivo;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
}
.sec1ImgContainer{
    display: flex;
    grid-column: 2/3;
    height: 100vh;
    justify-content: end;
}
.sec1Img{
    height: 100%;
    z-index: -20;
    opacity: 0%;
    animation-duration: 1 s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}





.section2Container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2Container img{
    z-index: -5;
    height: 80%;
}
.section2Container .textContainer{
    font-family: Archivo;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.textContainer .flex1{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;

    margin-top: 10rem;
}
.textContainer .flex2{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 6rem;
}
.textContainer .left{
    width: 34%;
    text-align: right;
    margin-right: 8rem;
    line-height: 2rem;
}
.textContainer .right{
    width: 34%;
    text-align: left;
    margin-left: 8rem;
    line-height: 2rem;
}
.textContainer .bottom{
    width: 30%;
    text-align: center;
    line-height: 2rem;
}





.section3Container{
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 7fr;
}
/* .section3Container .imgContainer{
    height: 100vh;
} */
.section3Container img{
    height: 100vh;
    object-fit: cover;
}
.section3Container .infoContainer{
    margin-top: 10rem;
    font-family: Archivo;
    margin: 12rem 9rem 0rem 9rem;
}
.section3Container .infoContainer h1{
    text-align: left;
    color: #39AEA8;
    font-size: 6rem;
    font-weight: 600;
}
.section3Container .infoContainer p{
    font-size: 1rem;
    line-height: 2rem;

}





.section4Container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.section4Container .headingContainer{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
}
.section4Container .headingContainer h1{
    font-family: Archivo;
    color: #39AEA8;
    font-size: 3.5rem;
    
    display: flex;
    justify-content: center;

    word-wrap: normal;
    word-break: keep-all;

}
.section4Container .headingContainer p{
    margin: 0rem 6.9rem;
}
.section4Container .imgContainer{
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section4Container .imgContainer img{
    width: 70%;
}
.section4Container .listContainer{
    grid-column: 2/3;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section4Container .listContainer .listObj{
    margin: 0.5rem 4rem;

    display: grid;
    grid-template-columns: 1fr 9fr;
}
.section4Container .listContainer .listObjNum{
    font-family: Archivo;
    font-size: 4rem;
    color: #39AEA8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section4Container .listContainer .listObjBody{
    display: flex;
    align-items: center;
}





.section5Container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5Container .subjects{
    width: 80%;
    display: flex;
    justify-content: left;
    overflow: auto;

    margin-bottom: 4rem;
}
.section5Container .subjects .subject{
    background-color: #39AEA8;
    box-shadow: 8px 10px 13px #CECECE, -12px -8px 7px #ffffff;
    min-width: 10rem;
    height: 2rem;
    border-radius: 8px;
    margin: 1rem 1rem;

    font-family: Archivo;
    color: #ffffff;
}
.section5Container .subjects .subject:hover{
    background-color: #278b86;
}
.section5Container .subjects .subject:active{
    box-shadow: inset 8px 10px 13px #21736f, inset -12px -8px 7px #39b0ab;
}
.section5Container .subjects .selectedSubject{
    background-color: #f1f1f1;
    box-shadow: 8px 10px 13px #CECECE, -12px -8px 7px #ffffff;
    min-width: 10rem;
    height: 2rem;
    border-radius: 8px;
    margin: 1rem 1rem;

    font-family: Archivo;
    color: #414141;
}
.section5Container .subjects .selectedSubject:hover{
    background-color: #dfdcdc;
}
.section5Container .subjects .selectedSubject:active{
    box-shadow: inset 8px 10px 13px #CECECE, inset -12px -8px 7px #ffffff;

}

.section5Container .courses{
    width: 80%;
    min-height: 20rem;
    display: flex;
    justify-content: left;
    overflow: auto;
}
.section5Container .courses .course{
    min-width: 20rem;

    margin: 1rem 1rem;
    
}
.section5Container .courses .course h1{
    font-family: Archivo;
    font-size: 1.6rem;
    color: #39AEA8;
}
.section5Container .courses .course h2{
    font-family: Archivo;
    font-size: 1.2rem;
    color: #414141;
}
.section5Container .courses .course p{
    font-family: Maven Pro;
}






.section6Container{
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section6Container .infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0rem 3rem;
}
.section6Container .infoContainer h1{
    font-family: Archivo;
    font-size: 4rem;
    font-weight: 700;
    color: #39AEA8;
}
.section6Container .infoContainer p{
    display: flex;
    text-align: left;
}
.section6Container .infoContainer h4{
    margin-top: 1rem;
}
.section6Container .infoContainer a{
    text-decoration: none;
    color: #39AEA8;
}
.section6Container .imgContainer{
    background-color: #39AEA8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section6Container .imgContainer img{
    width: 80%;
    object-fit: cover;
}





.section7Container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section7Container h1{
    font-family: Archivo;
    font-size: 3.5rem;
    color: #39AEA8;

    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
}
.section7Container .cardsContainer{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-flow: wrap;
}
.section7Container .cardsContainer button{
    height: 15rem;
    width: 15rem;
    background-color: #f1f1f1;
    border-radius: 25px;
    box-shadow: 8px 10px 26px #CECECE, -12px -8px 14px #ffffff;

    margin: 2rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7Container .cardsContainer button:hover{
    background-color: #39aea813;
}
.section7Container .cardsContainer button:active{
    box-shadow: inset 8px 10px 26px #CECECE, inset -12px -8px 14px #ffffff;
}

.section7Container .cardsContainer button p{
    font-family: Maven Pro;
    margin: 0rem 1.5rem;
    z-index: 5;
}
.section7Container .cardsContainer button img{
    height: 6rem;
    position: absolute;
    z-index: 1;
    margin-top: 4.54rem;
    margin-left: 3rem;
}






::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #278b86;
    border-radius: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1f7570;
}

