.card{

  background-color: #f1f1f1;
  color: #000000;

}
#bgrVideo{
  z-index: -50;
}


#whyUsSection{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;

}
.Section{
  min-width: 100%;
  min-height: 100%;
  display: flex;

  align-items: center;
  position: relative;

}

.Section-Alumni{
  background-color: #58B9B4;
}
.Section-Students{
  background-color: #7FD3CF;
}
.Section-Papers{
  background-color: #8AD3D0;
}
.Section-Faculty{
  background-color: #B3E2E0;
}

#SectionHeading{
  
  margin-right: -7vw;
  transform: rotate(90deg);
}