.card{

  background-color: #f1f1f1;
  color: #000000;

}
#bgrVideo{
  z-index: -50;
}


#whyUs_Page{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;

}
#Alumni_Page{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #58B9B4;
  position: relative;

}
#AlumniTXT{
  transform: rotate(90deg);
}