
#footer{
    position: relative;
    height: 100vh;
    bottom: 0px;
    
}
.footerContainer{
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    bottom: 0;
    border-radius: 40px 40px 0px 0px;
}
#bcg{
    background-image: url(../assets/clouds.png);
    background-size: cover;
    animation: cloudMovement 50s linear infinite alternate; 
}
@keyframes cloudMovement{
    0%{
        background-position: 0vw;
    }
    100%{
        background-position: 100vw ;
    }
}


@media only screen and (max-width: 600px){
    #footer{
        height: 120vh;
        text-align: center;
    }
    .footerContainer{
        border-radius:20px 20px 0px 0px;
    }
}