
.card{

  background-color: #f1f1f1;
  color: #000000;

}
#logoImg{
  width: 80%;

  animation-duration: 2s;
  animation-name: fade-in;
}
#topCard{ 
  display: flex;
  border-radius: 0px 0px 180px 0px;
  height: 50%;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 10px;

  animation-duration: 1s;
  animation-name: diagPopTop;
}
#bottomCard{ 
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;

  border-radius: 180px 0px 0px 0px;

  height: 55%;
  width: 60%;

  animation-duration: 1s;
  animation-name: diagPopBtm;
  overflow: hidden;
}
#cardHead{
  /* opacity: 0%; */

  transition: all ease-in 0.5s;
  font-size: 4.5vw;
  line-height: 100%;

  animation-duration: 2s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}
#cardDesc{
  /* opacity: 0%; */

  margin-top: 2rem;
  font-size: 1.2vw;

  animation-duration: 2.5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}
#cardCTA{
  /* opacity: 0%; */

  display: flex;
  align-items: center;
  margin-top: 2rem;

  animation-duration: 3s; 
  animation-name: fade-in;
  animation-fill-mode: forwards;
}
#cardBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;

  border-radius: 50%;
  border-width: 4px;
  border-style: solid;

  border-color: #3AA29D;
  background-image: linear-gradient(-45deg,#FFFDFD,#dedede);
  box-shadow:  -9px -5px 43px 3px #FEFEFE,
             5px 6px 33px 3px #DAD6D6;
}

@keyframes diagPopTop {
  from{
    height: 0%;
    width: 0%;

  }
  to{
    height: 50%;
    width: 25%;
  }
}

@keyframes diagPopBtm {
  from{
    width: 0%;
    height: 0%;
  }
  to{
    width: 62%;
    height: 55%;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%
  }
}
