.card{

  background-color: #f1f1f1;
  color: #000000;

}
#bgrVideo{
  z-index: -50;
}


.whyUsSection{
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.whatHappensSection{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}


#newsContainer{
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 3rem 3rem 3rem;
}
#section{
  display: flex;
  flex-direction: column;
  background-color: #B4DBD9;
  border-radius: 20px;
  padding: 2rem;
  height: 70vh;
  align-items: center;
  overflow-y: scroll;
}

#section::-webkit-scrollbar{
  display: none;
}
.Divider{
  background-color: #B8B8B8;
  width: 0.2rem;
  height: 70vh;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2em;
}
#contentContainer{
  display: flex;
  margin-top: 1rem;

  font-family: Maven Pro;

}   
#sectionHeading{
  font-family: "Archivo",sans-serif;
  font: 200;
  color: #414141;
  font-size: 2rem;
  text-align: center;
}
.newsSectionContainer{
  height: 100vh;
}