.peopleSection{
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
  
}

.alumniSection{
    background-color: #096964;
}
.studentsSection{
    background-color: #239C9B;
}
.papersSection{
    background-color: #39AEA8;
}
.facultySection{
    background-color: #58B9B4;
}

.SectionHeading{
    display: flex;
    margin-right: 14%;
    writing-mode: vertical-rl;
}