.body{
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: flex-end;

    z-index: -20;
    position: absolute;
    top: 0px;
    overflow: hidden;

    animation-name: researchBodyBringFront;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes researchBodyBringFront {
    0%{
        z-index: -20;
    }
    100%{
        z-index: 40;
    }
}

#body-section{
    transform: translateX(100%);
    transition: transform ease-out 0.5s;
    width: 75%;
    margin-right: calc(10vh - 2rem);
    text-align: right;
    overflow: hidden;
    animation-name: researchBodyFadeIn;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes researchBodyFadeIn {
    0%{
        opacity: 0%;
        transform: translateX(100%);
        z-index: -20;
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
        z-index: 40;
    }
}


.panelBody{
    display: flex;
    align-items: center;
    z-index: 10;
    overflow: hidden;
}
#panel{
    position: relative;
    height: 100vh;
    width: 20vw;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    transition: transform 0.3s ease-out;
    transform: scale(1);
}

#panel:hover{
    transition: transform 0.3s ease-out;
    transform: scale(1.025);
}

#panelImage{
    position: relative;
    object-fit: cover;
    width: 100%;
    margin-top:10vw;
    animation-name: imgDown;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#logoSec{
    position: absolute;
    z-index: 10;
    padding: 1vw;
    top:20vw;

    
    animation-name: logoUp;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#logo{
    object-fit: cover;
    background-color: #EEEEEE;
    border-radius: 20em;
    padding: 0.5rem;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 45px 1px #6161615b;
}


#title{
    margin-right: 2rem;
    right: 0;
    padding-left: 30%;

}
#info{
    margin-right: 2rem;
}
#contentSpace{
    display: flex;
    position: absolute;
    flex-direction: column;
    top:20%;
    margin-right: 2rem;

    
}
#description{
     align-self: flex-end;
     margin-top: 3em;

    margin-right: 2rem;
}
#btn{
    text-align: center;
    margin-top:2.5em;
    align-self: flex-end;
    border-radius: 1em;

    margin-right: 2rem;
}
#backBtn{
    margin: 1.5em;
    transform: scale(1.5);
    position: absolute;
    z-index: 20;
    opacity: 0%;

    animation-name: backButtonFadeIn;
    animation-delay: 1s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes logoUp {
    0%{
        transform: translateY(0vw)
    }
    100%{
        transform: translateY(-10vw)
    }
    
}
@keyframes imgDown {
    0%{
        transform: translateY(0vw)
    }
    100%{
        transform: translateY(10vw)
    }
    
}
@keyframes backButtonFadeIn {
    0%{
        opacity: 0%;
        z-index: 20;
    }
    100%{
        opacity: 100%;
        z-index: 50;
    }
}







#projBody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#publicationsSection{
    position : relative;
    top: -2em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #ffffff;
    width: 90%;
}
#profScroll{
    display: flex;
    overflow-x: auto;
    justify-content: left;
    min-height: 25rem;
    min-width: 100%;
    padding: 3rem 5rem;
}

