.body{
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: flex-end;

    z-index: -20;
    position: absolute;
    top: 0px;
    overflow: hidden;

    animation-name: researchBodyBringFront;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes researchBodyBringFront {
    0%{
        z-index: -20;
    }
    100%{
        z-index: 40;
    }
}

#body-section{
    transform: translateX(100%);
    transition: transform ease-out 0.5s;
    width: 75%;
    margin-right: calc(10vh - 2rem);
    text-align: right;
    overflow: hidden;

    animation-name: researchBodyFadeIn;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes researchBodyFadeIn {
    0%{
        opacity: 0%;
        transform: translateX(100%);
        z-index: -20;
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
        z-index: 40;
    }
}


.panelBody{
    display: flex;
    z-index: 10;
    overflow: hidden;
}
#panel{
    
    height: 100vh;
    width: 25vw;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    
    overflow: hidden;
}

#panel:hover{
    transition: transform 0.3s ease-out;
    transform: scale(1.025);
}

#logoSec{
    margin-top: 3em;
    padding: 2vw;
}
#logo{
    background-color: #EEEEEE;
    border-radius: 20em;
    padding: 1rem;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 45px 1px #6161615b;
    object-fit: cover;
}


#title{
    margin-right: 2rem;

}
#info{
    margin-right: 2rem;
}
#contentSpace{
    padding-top: 20%;
    display: flex;
    flex-direction: column;

    margin-right: 2rem;

    
}
#description{
     align-self: flex-end;
     margin-top: 6em;

    margin-right: 2rem;
}
#btn{
    text-align: center;
    margin-top:5em;
    align-self: flex-end;
    border-radius: 1em;

    margin-right: 2rem;
}
#backBtn{
    margin: 1.5em;
    transform: scale(1.5);
    position: absolute;
    z-index: 20;
    opacity: 0%;

    animation-name: backButtonFadeIn;
    animation-delay: 1s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes backButtonFadeIn {
    0%{
        opacity: 0%;
        z-index: 20;
    }
    100%{
        opacity: 100%;
        z-index: 50;
    }
}
